
/**
 * JustAjaxTable : MS Office XP Excel Style
 */
      
    * {
     border:0; margin:0; padding:0;
     font: 11px Arial;
    }

    table {
      border-collapse:collapse;
    }

    #justajax-mainbox {
      margin: 80px auto;
      margin-left:25%;
      height:10px;
    }

    #table-box .cell-editor {
      border: 2px solid #000;
    }

    #table-box .table-theaders-resizer {
       position:absolute;
       z-index:1000;
       width:2px;
       background-color:#777;
       height:14px;
    }

    #justajax-mainbox .tools-panel {
      background-color: #E5E4E8;
      height:26px;
      width:619px;
      border: 1px solid rgb(192,192,192);
      border-right:none;
    }

    #justajax-mainbox td.table-mover {
      padding-left:5px;
      padding-right:7px;
    }

    #justajax-mainbox .table-mover img {
      width:3px;
      height:15px;
    }

    #justajax-mainbox .table-record-add img {
      width:16px;
      height:15px;
      margin:3px 0px 0px 0px;
      cursor:pointer;
    }

    #justajax-mainbox .table-record-delete img {
      width:16px;
      height:15px;
      margin:3px 0px 0px 0px;
      cursor:pointer;
    }

    #justajax-mainbox .table-refresh img {
      width:16px;
      height:15px;
      margin:3px 0px 0px 0px;
      cursor:pointer;
    }

    #justajax-mainbox .tools-panel .filter {
      color:#000;
    }

    #justajax-mainbox .table-filter-textbox {
      border:1px solid rgb(192,192,192);
      background-color:#fff;
      width:100px;
      font-size:10px;
      color:#000;
      margin-top:1px;
      height:18px;
    }

    #justajax-mainbox .table-status {
      background-image:none;
      background-repeat:no-repeat;
      background-position:2px;
      width:163px;
      height:11px;
    }

    #justajax-mainbox .table-statusonloading {
      background-image:url('../data/status_anim.gif');
      background-repeat:no-repeat;
      background-position:2px;
    }

    #justajax-mainbox .table-rows-names-box {
      overflow:hidden;
      width:619px;
    }

    #justajax-mainbox .table-rows-names {
      background-color: #E5E4E8;
      height:20px;
      border: 1px solid rgb(192,192,192);
      border-right:none;
      margin:1px 0px 1px 0px;

      /* fixed width :: necessary parameter */
      width:619px;
    }

    #justajax-mainbox .table-rows-names-right {
      background-color: #E5E4E8;
      border:1px solid rgb(192,192,192);
      border-left:none;
    }

    #justajax-mainbox .table-rows-names-right img {
      height:19px !important;
      height:20px;
    }

    #justajax-mainbox .table-rows-names {
      table-layout:fixed;
      /*overflow:hidden;*/
    }

    #justajax-mainbox .table-rows-names td {
      text-align:center;
      font-size:11px;
      font-weight:bold;           //font
      color:#C0C0C0;
      cursor:pointer;

      /* fixed height for cell ( for IE ) :: necessary parameter */
      height:20px;
      /* canceal new lines ( ignored in IE ) :: necessary parameter */
      white-space: nowrap;
    }

    #justajax-mainbox .table-rows-names td span {
      text-transform: capitalize;
    }

    #justajax-mainbox .table-rows-names .table-rows-name-textondown {
      background-image:url('../data/table-sortpointer-down.gif');
      background-position:right;
      background-repeat:no-repeat;
      padding-right:10px;
      background-color:transparent;
    }

    #justajax-mainbox .table-rows-names .table-rows-name-textonup {
      background-image:url('../data/table-sortpointer-up.gif');
      background-position:right;
      background-repeat:no-repeat;
      padding-right:10px;
      background-color:transparent;
    }

    #justajax-mainbox .table-rows-nameonmouseover {
    }

    #justajax-mainbox .table-rows-delimiter {
      margin-top:1px;
      cursor:e-resize;
      background-image:url('../data/table-rows-delimiter.gif');
      background-repeat:no-repeat;
      background-position:left;
      width:5px;
      height:15px;
      position:relative;
      z-index:2;
    }

    #justajax-mainbox .table-statusbar {
      background-color: #E5E4E8;
      height:20px;
      width:636px;
      border: 1px solid rgb(192,192,192);
      color:#777;
      margin:1px 0px 0px 0px;
    }

    #justajax-mainbox .table-statusbar img {
      margin:2px 2px 0px 5px;
    }

    #justajax-mainbox .table-rows-contents-box {
      overflow:hidden;
      /* IE Hack */
      width:618px !important;
      width:619px;
      /* Opera Hack for Content Width */
      border-right:1px solid #bbb;
      border-right-width:0px;
    }

    #justajax-mainbox .table-rows-contents {
      border-left:1px solid rgb(192,192,192);
      border-top:1px solid rgb(192,192,192);

      /* fixed width :: necessary parameter */
      table-layout:fixed;
      width:619px;
    }

    #justajax-mainbox .table-rows-contents td {
      border-right:1px solid rgb(192,192,192);
      border-bottom:1px solid rgb(192,192,192);


      /* fixed height for cell ( for IE ) :: necessary parameter */
      height:20px;
      /* canceal new lines ( ignored in IE ) :: necessary parameter */
      white-space: nowrap;
    }

    #justajax-mainbox .table-rows-contents .select td {
      background-color:#ffffff;
      border-bottom:1px solid rgb(192,192,192);
    }

    #justajax-mainbox .table-rows-contents td
    {
       border-bottom:1px solid rgb(192,192,192);
    }

    #justajax-mainbox .table-rows-contents td.onselected {
      border: 2px solid #000000;
    }

    #justajax-mainbox .table-rows-contents td.onmouseover, #justajax-mainbox .table-rows-contents .select td.onmouseover {
    }

    #justajax-mainbox .table-rows-contents .selectonmouseover td
    {
       background-color:#ffffff;
    }

    #justajax-mainbox .table-rows-contents .onmouseover td {
    }

    #justajax-mainbox .table-resizer img {
      margin-top:7px;
    }

    #justajax-mainbox .table-resizer {
      margin-top:7px;
      cursor:nw-resize;
    }

   /**** scrolling */

    #table-box {
      background:#ffffff;
    }

    #table-box table.table-scrollbar {
      margin-left:1px;
      background-color:rgb(212,208,200);
      background-image:url('../data/track.gif');
      width:16px;
    }

    #table-box .table-scroll-top {
      background-image:url('../data/top.gif');
      background-repeat:no-repeat;
      background-color:rgb(212,208,200);
      height:16px;
      background-position:center;
    }

    #table-box .table-scroll-bottom {
      background-image:url('../data/bottom.gif');
      background-repeat:no-repeat;
      background-color:rgb(212,208,200);
      height:16px;
      background-position:center;
    }

    #table-box .table-scroll-pointer, #table-box .table-scroll-pointeronmouseover {
      position:absolute;
      z-index:10px;
      background-image:url('../data/pointer.gif');
      background-repeat:no-repeat;
      background-color:#000;
      height:39px;
      width:16px;
      background-position:center;
    }

    #table-box .table-scroll-pointeronmouseover {
      position:absolute;
      z-index:10px;
      background-image:url('../data/bottom.gif');
    }

